.vscode/
*.zip
vietnamsignlanguage/
S3D/preprocessed_clips/
S3D/preprocessed_clips_v2/
S3D/preprocessed_clips_6ch/
S3D/preprocessed_clips_6ch_v2/
S3D/preprocessed_clips_6ch_v3/
S3D/preprocessed_segmented_clips/
S3D/runs/
segmented_videos/
segmented_videos_v2/
Unsplash_Images/
preprocessed_segmented_clips/
person_with_backgrounds/
heat_map_data/
heat_map_data_(no_hand)/
heat_map_data_(no_hand)_v2/
Weight/
Data_list/*.csv
Lite-HRNet/
a.py
b.py
S3D/*.png
Transformer/*.ipynb
