*.zip
vietnamsignlanguage/
Pytorch/preprocessed_clips/
Pytorch/preprocessed_clips_v2/
Pytorch/preprocessed_clips_6ch/
Pytorch/preprocessed_clips_6ch_v2/
Pytorch/preprocessed_clips_6ch_v3/
Pytorch/preprocessed_segmented_clips/
Pytorch/runs/
segmented_videos/
segmented_videos_v2/
Unsplash_Images/
preprocessed_segmented_clips/
person_with_backgrounds/
heat_map_data/
heat_map_data_(no_hand)/
heat_map_data_(no_hand)_v2/
Weight/*.pt
Data_list/*.csv
Lite-HRNet/
a.py
b.py